@page "/"
@inject PageManager pageManager
@inject NavigationManager navigationManager

<BrowserDetect @bind-BrowserInfo="browserInfo" />

<PageTitle>Home</PageTitle>
<MudText Style="max-width: 50%; text-align: center; margin: 0 auto;">
	<h1>ABOUT ME</h1>
</MudText>

@if (browserInfo.IsDesktop.GetValueOrDefault())
{
	<MudText Style="max-width: 50%; text-align: left; margin: 0 auto;">

		<p>
			A games systems programmer having finished their final year of University.
			They have proven their creative and technical ability during their placement and their studies,
			having graduated with a first class dedgree.
			<br />
			<br />
			12 months of experience, at the University Of Gloucestershire as a Research Intern,
			creating applications across a variety of disciplines such as network programming, AI,
			save data handling, custom input sytems, databases and web development.
			<br />
			<br />
			Events Manager of the Nintendo Society at UoG during 2023-2024.
			<br />
			<br />
			Strategy or creative games being a favourite of Mia's as they require you to think deeply to solve problems.
		</p>

	</MudText>
}
else
{
	<MudText Style="max-width: 90%; text-align: left; margin: 0 auto;">

		<p>
			A games systems programmer having finished their final year of University.
			They have proven their creative and technical ability during their placement and their studies,
			having graduated with a first class dedgree.
			<br />
			<br />
			12 months of experience, at the University Of Gloucestershire as a Research Intern,
			creating applications across a variety of disciplines such as network programming, AI,
			save data handling, custom input sytems, databases and web development.
			<br />
			<br />
			Events Manager of the Nintendo Society at UoG during 2023-2024.
			<br />
			<br />
			Strategy or creative games being a favourite of Mia's as they require you to think deeply to solve problems.
		</p>

	</MudText>
}

<VideoDisplayer IsYoutube="true" Source="https://www.youtube.com/embed/cmjbeM8soT4?si=ZsIWhDkqj7fDIegs" browserInfo="browserInfo" />

<br />
<br />
<br />

@*Projects section*@
<MudText Style="max-width: 90%; text-align: center; margin: 0 auto;">
	<h1>PROJECTS</h1>

	@*Project Grid Items*@
	<MudGrid>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="FromageFortress">
				<img class="thumbnail"
					 src="Images/Thumbnails/FromageFortressCDCover.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="SkullSluggery">
				<img class="thumbnail"
					 src="Images/Thumbnails/SkullSluggeryThumbnail.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="OccultOffensive">
				<img class="thumbnail"
					 src="Images/Thumbnails/OccultOffensive.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="VoxelTerrain">
				<img class="thumbnail"
					 src="Images/Thumbnails/VoxelTerrainGeneratorThumbnail.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="VietnamActionAdventure">
				<img class="thumbnail"
					 src="Images/Thumbnails/ActionAdventureLevelThumbnail.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="WhiteEagleDown">
				<img class="thumbnail"
					 src="Images/Thumbnails/WhiteEagleDownThumbnail.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="OBJModelViewer">
				<img class="thumbnail"
					 src="Images/Thumbnails/ObjModelViewerThumbnail.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
		<MudItem xs="6" sm="4" md="3">
			<MudNavLink Href="MissileCommand">
				<img class="thumbnail"
					 src="Images/Thumbnails/MissileCommandThumbnail.png"
					 style="width: 100%; height: auto; object-fit: cover;">
			</MudNavLink>
		</MudItem>
	</MudGrid>@*Project grid items end.*@
</MudText>@*Project section end.*@

@code {
	private BrowserInfo browserInfo = new BrowserInfo();

	protected override void OnInitialized()
	{
		string homeLocation = navigationManager.Uri;
		pageManager.SetHomeLocation(homeLocation);
		pageManager.SetIsOnHomePage(true);
	}
}