@page "/SkullSluggery"
@inject PageManager pageManager
@inject NavigationManager navigationManager

<PageTitle>SkullSluggery</PageTitle>

@*Banner*@
<div style="display: flex; justify-content: center;">
	<MudImage Src="Images/Banners/SkullSluggeryBanner.png" Alt="Skull Sluggery Banner" Style="width: 100%; max-height: auto; object-fit: cover;" />
</div>

@*Title*@
<MudText Align="Align.Center" GutterBottom="true" Style="font-size: 3rem; font-family: 'YourFontFamily';">
	Skull Sluggery
</MudText>

@*Download Link*@
<ProjectLinks pageName="@pageName" />
<br />
<br />

@*Video*@
<BrowserDetect @bind-BrowserInfo="browserInfo" />
<VideoDisplayer IsYoutube="false" Source="Videos/Boneheads-Skull-Sluggery-Presentation-Trailer.mp4" browserInfo="browserInfo" />

<br />
<br />

@*Page content*@
<ProjectParagraph browserInfo="@browserInfo" displayImageFirst="false" imageSource="Images/ProjectScreenshots/SkullSluggeryScreenshotWithDefeatedGhosts.png">
	Made by a group of final year students called "Boneheads" in 2022,
	Skull-Sluggery is a 2.5D Isometric Roguelike about a rough, tough skeleton
	boy fighting his way through 1980s arcade Purgatory.
	<br />
	<br />
	The player must take on a host of enemies straight out of classic bootleg
	arcade games with just a bubble gun, demonic powerups and a can-do attitude.
	<br />
	<br />
	I was a second year contractor student working for "Boneheads" as part of my
	module "professional awareness" in which I went through the experience of
	preparing a CV, portfolio and then being interviewed by final year students
	to work on their projects as a part-time contractor.
</ProjectParagraph>

<br />
<br />

<ProjectParagraph browserInfo="@browserInfo" displayImageFirst="true" imageSource="Images/ProjectScreenshots/SkullSluggeryInspectorAssets.png">
	As part of my contract work I was asked by the team lead to work on backend systems for the game.
	<br />
	<br />
	Which Included:
	<br />
	1. Audio Management System: In Boneheads, I collaborated with the programmers to develop a system
	that allowed designers to add sound effects to trigger during in-game events, like player damage.
	The system randomly selected and played a sound from the list, enhancing audio diversity and reducing repetition.
	<br />
	2. Menu Navigation System: A script I designed to add controller support to Unity's UI-based menus. Designers
	attach it to menus and populate a list with menu items, including buttons and sliders. This simplifies menu setup,
	enabling easy addition of controller support and sprite switching for button selection.
</ProjectParagraph>

<br />
<br />

<ProjectParagraph browserInfo="@browserInfo" displayImageFirst="false" imageSource="Images/ProjectScreenshots/SkullSluggeryTitle.png">
	In addition to the work I did for Boneheads, I also attended their weekly scrum meetings in which I discussed the
	tasks I had been given, how I was doing with them and if I encountered any issues I needed help with aswell as
	discussing ideas for the game itself with the team.
</ProjectParagraph>

@*Page code*@
@code {
	private string pageName = "";
	private BrowserInfo browserInfo = new BrowserInfo();

	protected override void OnInitialized()
	{
		//Get the page name.
		Uri uri = new Uri(navigationManager.Uri);
		pageName = uri.Segments.Last();

		//Set that we're not on the home page.
		pageManager.SetIsOnHomePage(false);
		StateHasChanged();
	}
}
