@page "/WhiteEagleDown"
@inject PageManager pageManager
@inject NavigationManager navigationManager

<PageTitle>WhiteEagleDown</PageTitle>

@*Banner*@
<div style="display: flex; justify-content: center;">
	<MudImage Src="Images/Banners/whiteEagleDownBanner2.png" Alt="White Eagle Down Banner" Style="width: 100%; max-height: auto; object-fit: cover;" />
</div>

@*Title*@
<MudText Align="Align.Center" GutterBottom="true" Style="font-size: 3rem; font-family: 'YourFontFamily';">
	White Eagle Down
</MudText>

@*Download Link*@
<ProjectLinks pageName="@pageName" />
<br />
<br />

@*Page content*@
<div style="display: flex; justify-content: center;">
	<MudText Style="max-width: 75%; text-align: left;">
		<div style="display: flex; justify-content: center;">
			<div style="padding-right: 5%">
				White Eagle Down is a project created for the Global Game Jam 2022.
				<br />
				<br />
				We had 48 hours to create a game for this competition to then 
				submit to be played by other participants.
				<br />
				<br />
				The goal of the game is to explore the plane environment to 
				find items that allow you to complete objectives. 
				The final objective being to "crash the plane".
			</div>
			<br />
			<MudImage Src="Images/ProjectScreenshots/WhiteEagleDownPlaneSeats.png" Style="max-width: 50%; height: 5%; padding-left 2%;" />
		</div>
		<br />
		<br />
		<div style="display: flex; justify-content: center;">
			<MudImage Src="Images/ProjectScreenshots/WhiteEagleDownBoxes.png" Style="max-width: 50%; height: 5%; padding-right: 2%;" />
			<br />
			<div style="padding-left: 2%">
				When exploring the level, the player can encounter these 
				glowing brown boxes. These represent cargo boxes that 
				the player can interact with to obtain items to be 
				used throughout the game.
				<br />
				<br />
				The glow effect was created using unity's Shadergraph package. 
				Shadergraph is a visual scripting system for shaders and I 
				used it to apply a glowing version of the fresnel effect to 
				any object this material/shader is applied to.
				<br />
				<br />
				This glowing effect grabs the attention of the user as it singles 
				out the objects in the scene they can interact with from ones 
				that cannot be interact with.
			</div>
		</div>
		<br />
		<br />
		<div style="display: flex; justify-content: center;">
			<div style="padding-right: 5%">
				The same fresenel effect shader is also used for the objective's 
				in the game. This time with a red tint instead of a blue one.
				<br />
				<br />
				Like the blue-tinted boxes, the player can interact with these. 
				However, instead of being granted an item the objective manager 
				checks if the player has the correct item to proceed with the 
				objective (e.g. a key).
				<br />
				<br />
				If the player has the correct item they are given a notification 
				that they've managed to complete the objective successfully. 
				However if not, they are given a notification telling them what 
				item they need to retrieve to be able to proceed further.
			</div>
			<br />
			<MudImage Src="Images/ProjectScreenshots/WhiteEagleDownConsole.png" Style="max-width: 50%; height: 5%; padding-left 2%;" />
		</div>
	</MudText>
</div>

@*Page code*@
@code {
	private string pageName = "";

	protected override void OnInitialized()
	{
		//Get the page name.
		Uri uri = new Uri(navigationManager.Uri);
		pageName = uri.Segments.Last();

		//Set that we're not on the home page.
		pageManager.SetIsOnHomePage(false);
		StateHasChanged();
	}
}
